* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: linear-gradient(to right, #eb92be 0%, #f6e480 50%, #63c9b4 100%);
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game {
    margin-top: 40px; 
    height: 60vmin; 
    width: 60vmin; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin; 
    width: 18vmin; 
    border-radius: 1rem;
   font-size: 8vmin;
   color: #025a2e;
   background-color: #ffffc7;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
}
#msg {
    color: #f3025e;
    font-size: 5vmin;
}
.msg-container {
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.hide {
    display: none;
}